@import "./../../variables.scss";
.overviewContainer{
    padding-top: 2%;
    padding-bottom: 3%;
    font-family: 'Proxima Nova Light';
    font-size: 1.5rem;
    p{
       color: #E0E0E0;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.827rem;
        padding-left: 10px;
        display: inline;
        vertical-align: top;
    }
    h6{
        font-family: 'Proxima Nova Semi Bold';
        font-weight: 600;
        font-size: 1.5rem;
        display: inline;
        vertical-align: top;
    }
    ul{
        list-style-type: none;
        padding-left: 12px;
    }

}