@import '../../../app/variables';

.sectionQuotes {
    margin-top: 15rem;
    margin-bottom: 3rem;}

.quoted {
    color: #D3D3D3;
}

.quoted > span {
    color: $font-color;
    font-family: $font-family-light;
    margin-top: 5px;
    font-size: 1.3rem;
    display: block;
    font-weight: 300;
}

.quoted > span:first-child {
    margin-top: 14px;
}

.quoted > span:last-child {
    margin-top: 10px;
}


.quoted > h3 {
    font-family: $font-family-bold;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 22px;
    text-transform: capitalize;
}
.carouselCard{
    z-index: 1;
}