@import '../../../app/variables';

.sectionQuotes {
    margin-top: 12rem;
    margin-bottom: 3rem;
}

.quoted {
    color: #D3D3D3;
}

.quoted span {
    color: $font-color;
    font-family: $font-family;
    margin-top: 5px;
    font-size: 1.22rem;
    display: block;
}

.quoted h3{
    font-weight: bold;
    font-size: 1.22rem;
    margin-top: 22px;
}
// .quoted span h5 {
//     font-weight: 100;
//     font-size: 1.2rem;
//     text-transform: capitalize;
// }
.carouselCard{
    z-index: 1;
}