@import "./../../variables.scss";
.cookieContainer {
  //  padding: 55px 60px 70px 60px;
    margin-bottom: 0;
    p{
        color: #C4C4C4;
    }
   
    .heading{
      text-align: center;
      padding-bottom: 15px;
      font-weight: 700;
      font-size: 36px ;
      line-height: 43.85px;
      color:  #DEDEDE;
  
 
  }
  }
  .alignment{
    padding: 10% 10% 10% 10%;
    text-align: justify;
    @media screen and (min-width: 1650px) and (max-width: 2083px) {
      padding: 10% 20% 10% 20%;
      
    }
    @media screen and (min-width: 2083px)  and (max-width: 2551px){
      padding: 7% 25% 7% 25%;
      
    }
      @media screen and (min-width: 2551px){
      padding: 7% 25% 7% 25%;
      
    }
   
   
  }
  
  .cookieBox{
   //background-color: $green-color;
   background: url("./../../assets/images/Rectangle.png");
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   
    
   
  }
  .linkStyle{
    color: $gray-color;
    word-break: break-all;
    
  }
  .subHeading{
    padding-bottom: 10px;
    h5{
    font-weight: 700;
    font-size: 36px ;
    color: #F9F9F9;
    }
    
  }
  .paragraph{
    padding-bottom: 8px;
    h6{
      font-weight: 600;
      font-size: 24px;
      color:#F9F9F9;
    
    }
  }
  
