@import "./../variables.scss";

.aboutusContainer {
  padding: 22px 60px 22px 60px;
  margin-bottom: 30px;
 
  p{
    color: $gray-color;
}
h4{
  font-weight: 400;
  font-size: 49.41px!important;
  line-height: 60.18px;
}
  
}
