@import '../../variables';

.sectionProblemInfo {
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;
    margin-left: 0;
    margin-right: 0;
    font-family: $font-family;
    .problemSideImage {
        margin-top:-41.75rem;
        display: inline-block;
        margin-left: 7rem;
        width: 33rem;
        height: 18rem;
        border-radius: 2rem;
        box-shadow: 0 12px 20px 10px rgba($color: #000000, $alpha: 0.3);
       
    }

    div {
        color: $font-color;
        font-family: $font-family;
        width: 40.75rem;
        margin-left: 3rem;
        display: inline-block;

        h2 {
            color: white;   
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 3.063rem;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 3rem;
            font-family: $font-family-bold;


        }
        h4 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.014rem;
            letter-spacing: 0em;
            text-align: left;
            width: 43.75rem;
            margin-left: 3rem;
            color: #D3D3D3;
            font-family: $font-family-light;

        }

        p {
            margin-top: 1.25rem;
            font-size: 1.5rem;
            font-family: $font-family-light;

          
        }
        .textSection{
            height: 22.063rem;
            span{
                line-height: 1.534rem;
            }
        }
        li{
            font-size: 1.5rem;
            font-weight: 400;
            font-family: $font-family-light;

        }
    }
}



