@import "./../../variables.scss";

.inputStyle {
    border: 0px;
    background: transparent;
    color: $white-color;
    font-family:'Proxima Nova Semi Bold';
    font-size: 24px;
}

.inputStyle:focus {
    background: transparent;
    color: $white-color;
    border: 0px;
    box-shadow: none;
}
.labelHighlight{
    color:$white-color;
    font-family:'Proxima Nova Bold';
    font-size:24px;
}

.inputStyle::placeholder {
    color: $white-color;
    font-family:'Proxima Nova Semi Bold';
    font-size: 24px;
}

.boxStyle {
    padding: 12px;
    color: #C7C7C7;
    font-size: 24px;
    margin-bottom: 15px;

}

.inputlineAbove {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 2px;
    margin-bottom: 5%;
}

.form-control:disabled {
    background-color: transparent;
    //  opacity: none; 
}