.ReactModal__Overlay {
  z-index: 1;
//background-color: transparent!important;
  // position: relative;
}

.lineAboveModal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 30%;
  margin-bottom: 5%;

}


.ReactModal__Content {
  border-radius: 50px !important;
  background: url("../../assets/images/homePagePopup.png") !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  padding: 40px !important;
  object-fit: contain;
  border: 0 !important;

  h6 {
    text-align: center;
  }

  inset:50% auto auto 50% !important;

}

.closebtn {
  position: absolute;
  top: 28px;
  right: 42px;
  height: 20px;
  width: 20px;
  // background-color: black;
  cursor: pointer;

}