@import "./../../variables.scss";
.descriptionBox{
    background-color: $green-color;
    padding: 4%;
    border-radius: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
  }
  .tabButton{
    background:  $btn-inactive-color;
    border: 0px;
    border: none!important;
    border-radius: 9px!important;
    color:$white-color!important;
    width: fit-content;
    padding: 1%;
    font-family: 'Proxima Nova Semi Bold';
    font-size: 29px;
    margin-right: 40px;
    @media screen and (max-width: 800px) {
    float: none;
    display: block;
    text-align: left;
    margin: 10px;   
}
}
// .tabButton:hover{
//     background:  $btn-inactive-color!important;
// }
.selectedBtn{
    background: #246276!important;
    box-shadow: 1px 2px 5px #000000;
}
  