@import "./../../variables.scss";

.boxGrid {
   // border: 2px solid $yellow-color;
//    height: 30px;
   // margin-right: 12px;
    border-radius: 12px;
    background: url("./../../assets/images/techPartnerSection.png");
    background-size: contain;
  //  background-position: center;
    background-repeat: no-repeat;
    display: flex;
    margin: 10px auto;
}

.a-tag, 
.a-tag:visited, 
.a-tag:active, 
.a-tag:hover, 
.a-tag:link {
    cursor: pointer;
    color: $category-color;
    text-decoration: none;
}



.technologyContainer {
   // margin-top: 40px;
   padding: 10%;

    .technologyHeading {
        font-weight: 400;
        font-size: 40px;
        line-height: 51.16px;
        .content{
            font-size: 42px;
            font-weight: 600;
        }
    }

    p {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.827rem;
    }
    .textPadd{
        padding-left: 15px;
    }
}

.threedeelogo {
    height: auto;
    max-width: 90%;
    display: flex;
}