@import '../../variables';

.blogViewImage {
    height: 500px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 1px 2px 5px #000000;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    margin-left: 0%;
    margin-right: 0%;
}

.blogViewContainer {
    margin-bottom: 0px;
    

}

.h5-cat {
    color: $category-color;
    margin-bottom: 1.2rem;
}

.p-cat_1 {
    color: $white-color;
}

.author-name {
    font-family: $font-family-bold;
    color: $white-color;
    font-size: 32px;
}

.h5_blog_class_1{
    font-family: $font-family-bold;
    font-size: 32px;
    
}
.p_blog_class_1{
    font-family: $font-family-light;
    font-size: 24px;
    color: #C4C4C4;
}

.contentBox {
    padding:10% 15% 15% 15%;
    //  text-align: justify;
    // width: fit-content;
    margin: 2px auto;
}

.blog-content {
    width: 100%;
    padding: 2rem;
    height: 60rem;
}

.blogViewBox {
    //width: fit-content;
    width: 1235px;
   // padding: 15%;
    height: auto;
    align-content: center;
    display: flex;
    margin: 0 10% auto;
    background: url("./../../assets/images/Rectangle.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}