$header-back-color: rgb(11,44,57);
$text-color: #333;
$font-color: #c9c9c9;
$header-active-color:#43ffca;
$font-family: 'Proxima Nova Regular', sans-serif;
$font-family-bold: 'Proxima Nova Bold', sans-serif;
$font-family-light: 'Proxima Nova Light', sans-serif;
$font-family-reg: 'Proxima Nova Regular', sans-serif;
$button-back-color:#0382AC;
$header-menu-color:rgb(100,115,121);
$white-color:#ffffff;
$linear-gadient-first-back-color:rgb(14,57,68);
$linear-gadient-second-back-color:rgb(18,57,68);
$linear-gadient-second-back-color-rgba:rgba(18,57,68,1);
$linear-gadient-second-back-color-rgba-2:rgba(18,57,68,0.7);
$yellow-color:#f1c94f;
$green-color:rgb(21,65,78);
$gray-color:#B0B0B0;
$btn-inactive-color:#1e4652;
// $body-background-color:#0B3543;
$body-background-color:#091e2a;

$footer-gray-color:#8E8E8E;
$category-color: #00f7cb;
