@import './../../variables.scss'; 
.btn {
    flex: 1 1 auto;
    margin-right: 20px;
    padding: 30px;
    text-align: center;
    border:inherit!important;
    width: fit-content;
     color: black!important;
  
    border-radius: 30px!important;
  
   }
  .btnFont{
    font-weight: 700!important;
    font-size: 17.5px!important;
    line-height: 21.31px!important;
  }
  
.btn-linear {
    background-image: linear-gradient(to right, $header-active-color 0%, $button-back-color 100%);
  }