@import "../../variables.scss";
.introductionContainer {
   
   
    p{
      color: #E0E0E0;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.827rem;
      width: 697px;
  }
  h4{
    font-weight: 400;
    font-size: 49.41px!important;
    line-height: 60.18px;
  }
    
  }
.content {
    color: $header-active-color ;
    font-weight: 600;

  }
  
  .imageStyle {
  
    height: 368px;
    width: 380px;
    margin: 4% auto;
    padding: 15%;
    @media screen and (max-width: 520px) {
      width: 86%;
      height: 80%;
      margin: 10% auto;
      
    }
  }
  .colImageBox{
    height: 466px;
    width:466px;
    padding: 5%;
    align-content: center;
    display: flex;
    margin: 10% auto;
    border-radius: 10%;
    //background-color: $header-back-color;
    background: url("../../assets/images/Osira_Background.png");
    background-size: contain;
    @media screen and (max-width: 520px) {
      width: 100%;
      height: 100%
      
    }
  
  }
