@import '../../variables';

.sectionWorking {
    margin-top: 24.25rem;
    color: $font-color;
    font-family: $font-family-light;
    margin-bottom: 20rem;
    
}

.sectionWorking h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
}

.sectionWorking .cardGroup {
    margin-top: 6rem;
}

.sectionWorking .cardGroup > div > div h5 {
    text-align: center;
    font-size: 1.4rem;
    // font-weight: 600;
    font-family: $font-family-bold;
    color: #D3D3D3;
}

.sectionWorking .cardGroup > div > div span {
    text-align: center;
    font-size: 1.05rem;
}

.sectionWorking .cardGroup > div {
    position: relative;
    padding: 2rem;
    width: 26%;
    height: 230px;
    margin-left: 3rem;
    border-radius: 20px;
    background-color: #094852;
    box-shadow: 0px 8px 17px 3px rgba(0, 0, 0, 0.4);
}

.sectionWorking .cardGroup > div:last-child {
    width: 566px;
    height: 330px;
    margin-top: 7rem;
    flex-grow: 0;
}

.sectionWorking .cardGroup > div:last-child > img {
    top: -16%;
    left: 235px;
}
.workingContainer{
    background: url("../../assets/images/HowItWillWork.png");
    background-size: cover;
    background-position: center;
    h4{
        text-align: center;
        font-size: 2.5rem;
        font-weight: 1000;
    }
    .row{
        --bs-gutter-x: 0;
        }
    .workingRow{
        display: flex;
         justify-content: space-evenly;
       
        // flex-wrap: wrap;
      
     
        
    }
    .workingBox{
        position: relative;
        background:   #0D4C58;
        width: 25%!important;
        padding: 30px;
        margin-left:15px;
        margin-top:8%;
        background: #0D4C58;
        border-radius: 40px;
        h6{
            text-align: center;
        // font-size: 2.5rem;
        // font-weight: 1000; 
        }
        p{
            text-align: justify;
        }
    }
    .workingImageStyle{
        position: absolute;
        height: 100px;
        width: 100px;
        top:-60px;
        left: 35%;
    }

}



.sectionWorking .cardGroup {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sectionWorking .cardGroup > div > img {
    position: absolute;
    top: -22%;
    left: 154px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}

