@import "./../variables.scss";

.display-none {
  display: none !important;
}

#modal--mail-confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-size: cover;
  padding: 1rem;
  width: 34.56rem;
  height: auto;
}

#modal--mail-confirm > p {
  font-size: 1rem;
}

.mail--customBtn {
  font-family: $font-family;
  box-shadow: 0px 0px 1px 0px rgba(0,0, 0,0.4);
  border-radius: 20px;
  border: 1px solid #01ffd1;
  outline: none;
  margin-top: 1rem;
  height: 2.4rem;
  width: 8rem;
  background-color: #01ffd1;

  &:hover {
    background-color: #01ffd1;
  }
}

.separator_in_modal {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 90%;
  height: 1px;
}

.mail-confirmed {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  
  &:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
  }
}

.confirm-mail_id {
  width: 14.6rem;
  font-family: $font-family;
  background-color: #587178;
  border: 1px solid #587178;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #ffffff;
  &::placeholder {
    font-family: $font-family;
    color: #bdbdbd;
  }
  &:focus {
    outline: none;
  }
}

.tokenContainer {
  padding: 55px 60px 70px 60px;
  margin-bottom: 30px;
  overflow: hidden;
  .tokenHeading{
    font-family: 'Proxima Nova Bold';
    color:#ffffff;
    font-size:51.35px;
  }
}

.backImage {
 
}
h1{
  text-align: center;
  margin-bottom: 215px;
  margin-top: 185.5px;
 

}

.tokenImageStyle {
  // background-color: $header-back-color;
  align-content: center;
  display: flex;
  margin: 0 10% auto;
  width: 488px;
  height: 488px;
  //padding: 15%;
  border-radius: 10%;
  object-fit: cover;
  //align-content: center;
  //background-image: url("./../assets/images/Osira_Background.png");
  // background-size: contain;
  // background-position: center;
  // background-repeat: no-repeat;
  // margin: 0px auto;
  //box-shadow: 1px 2px 5px #000000;
  @media screen and (max-width: 1000px) {

    height: 70%;
    width: 60%;
  }

  // padding: 5px;
}

.heading {
  text-align: center;
  padding-bottom: 15px;
  padding-right: 10%
}

.tokenBox {
  background-color: $green-color;
  padding: 5%;
  border-radius: 50px;
  position: relative;
  padding-left: 8%;
  padding-right: 8%;
 // width: 400px;
  //box-shadow: 1px 2px 5px #000000;
  margin: 1px;
  //height: 720px;

}
.tokenBorder{
  background: url("../assets/images/enrollReactangleBorder.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0% 6% 9% 6%;
}

.rowStyle {
  margin-bottom: 30px;
}

.EnrollStyle {
  position: absolute;
  line-height: 26px;
  bottom: -6%;
  width: 40%;
  color: $white-color !important;
  font-family:'Proxima Nova Semi Bold';
  left: 30%;
  height: 12%;
  font-size: 48px;
  border-radius: 50px!important;
 // border: 2px;

  @media screen and (max-width: 500px) {

    width: 40%;
    left: 30%;
  }
}
