@import "../../variables.scss";

.twoLineHeight{
    height: 44px;
}

.blogBox {
    padding: 55px 60px 55px 60px;
    margin-bottom: 2%;
   

    p {
        color: $gray-color;
    }
    .categoryTitle{
        color:#00FFD1;
    }
}

.blogImage {
    height: 300px;
    width: -webkit-fill-available;
    border-radius: 12px;
    margin-bottom: 20px
}

.tabButtonLink {
    background: $btn-inactive-color;
    border: 0px;
    border: none !important;
    border-radius: 9px !important;
    color: $white-color !important;
    width: 30%;
    box-shadow: 1px 2px 5px #000000;

    @media screen and (max-width: 500px) {
        float: none;
        display: block;
        text-align: left;
        margin: 10px;
        width: 50%;
    }
}
.containerBox {
    background-color: $green-color;
    padding: 2%;
    border-radius: 40px;
    height: 50%;
    width: 30%;
    margin: 15px;
    
    .blogBtn{
        font-family: 'Proxima Nova Light';
        font-size: 18.21px;
        width: fit-content; 
        padding: 4%; 
    }

    @media screen and (max-width: 800px) {
        width: 100%;
    }
}

.h5-cat {
    color: $category-color;
    margin-bottom: 1.1rem;
}

.p-cat {
    color: $white-color;
}

.h5_blog_class_2{
    font-family: 'Proxima Nova Bold';
    font-size: 24px;
}
.p_blog_class_2{
    font-family: 'Proxima Nova Light';
    font-size: 18.21px;
    color: #C4C4C4;
}

.blog_date{
    font-family: 'Proxima Nova Regular';
    font-size: 18.21px;
    color: #DEDEDE; 
}