@import "../../variables.scss";

.twoLineHeight{
    height: 44px;
}

.blogBox {
    padding: 55px 60px 55px 60px;
    margin-bottom: 2%;
   

    p {
        color: $gray-color;
    }
    .categoryTitle{
        color:#00FFD1;
    }
}

.blogImage {
    height: 300px;
    width: -webkit-fill-available;
    border-radius: 12px;
    margin-bottom: 20px
}

.tabButtonLink {
    background: $btn-inactive-color;
    color: $white-color !important;
    box-shadow: 0px 0px 2px 0px #000000;
    text-align: center;
    margin-top: 20px;
    padding-top: 24px;
    @media screen and (max-width: 500px) {
        float: none;
        display: block;
        text-align: left;
        margin: 10px;
        width: 50%;
    }
}
.containerBox {
    background-color: $green-color;
    padding: 2%;
    border-radius: 40px;
    height: 50%;
    width: 30%;
    margin: 15px;
    
    .blogBtn{
        font-family: $font-family-light;
        font-size: 18.21px;
        width: fit-content; 
        padding: 4%; 
    }

    @media screen and (max-width: 800px) {
        width: 100%;
    }
}

.btn--read-more {
    border: 1px solid white !important;
    border-radius: 88px !important;
    width: 166px;
    height: 58px;
    line-height: 2px;
}

.h5-cat_2 {
    color: $category-color;
    margin-bottom: 1.1rem;
}

.p-cat_2 {
    color: $font-color;
}

.h5_blog_class_2{
    font-family: $font-family-bold;
    font-size: 24px;
    margin-bottom: 18px;

}
.p_blog_class_2{
    font-family: $font-family-light;
    font-size: 18.21px;
    color: #C4C4C4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
     white-space: pre-wrap; 
}

.blog_date{
    font-family: $font-family-reg;
    font-size: 18.21px;
    color: #DEDEDE; 
}